<div class="card bg-dark text-white app-form">
  <div class="card-header" *ngIf="!client.id; else headerEdit">Create client</div>
  <ng-template #headerEdit>
    <div class="card-header">Edit client</div>
  </ng-template>

  <div class="card-body">

    <form>
      <div class="mb-3">
        <label for="name" class="col-form-label">Name</label>
        <input type="text" class="form-control" [(ngModel)]="client.name" id="name" name="name">
      </div>

      <div class="mb-3">
        <label for="lastName" class="col-form-label">Last name</label>
        <input type="text" class="form-control" [(ngModel)]="client.lastName" id="lastName" name="lastName">
      </div>

      <div class="mb-3">
        <label for="email" class="col-form-label">Email</label>
        <input type="text" class="form-control" [(ngModel)]="client.email" id="email" name="email">
      </div>

      <div class="card-link row ms-sm-0 me-sm-0 mt-5">
        <button class="btn btn-primary" (click)="create()" *ngIf="!client.id else elseBlock">
          Create
        </button>
        <ng-template #elseBlock>
          <button class="btn btn-primary" (click)="update()">Edit</button>
        </ng-template>
      </div>
    </form>

  </div>
</div>
